<div class="login-container">
  <h2>Login de Cliente</h2>

  <form #form="ngForm" (ngSubmit)="login(form)">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        [(ngModel)]="loginData.email"
        name="email"
        required
        autocomplete="username"
        email
        #email="ngModel"
      />
      <mat-error *ngIf="email?.errors?.['required']">
        O campo de email é obrigatório.
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Informe um e-mail válido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input
        matInput
        [(ngModel)]="loginData.senha"
        name="senha"
        type="password"
        required
        autocomplete="current-password"
        #senha="ngModel"
      />
      <mat-error *ngIf="senha?.hasError('required')">
        O campo de senha é obrigatório.
      </mat-error>
    </mat-form-field>

    <button mat-button type="submit" [disabled]="form.invalid">Login</button>
  </form>

  <p class="mensagem" *ngIf="mensagem">{{ mensagem }}</p>
</div>
