<mat-toolbar color="primary">
  <!-- Botão Home -->
  <button
    (click)="toHome()"
    mat-icon-button
    class="example-icon"
    aria-label="Botão para página inicial"
  >
    <mat-icon>home</mat-icon>
  </button>

  <!-- Título -->
  <span>ProjetoX</span>
  <span class="spacer"></span>
  <!-- Espaçador para alinhar à direita -->

  <!-- Condicional: Logado vs Não Logado -->
  <div *ngIf="authService.isLoggedIn(); else cadastroLinks">
    <div class="logado">
      <p *ngIf="cliente">Olá, {{ cliente.nome }}</p>

      <!-- Botão Sair como link de texto -->
      <a (click)="sair()" class="link-text">Sair</a>
    </div>
  </div>
  <ng-template #cadastroLinks>
    <!-- Botões como links -->
    <a (click)="irParaCadastro()" class="link-text">Cadastre-se</a>
    <a (click)="irParaLogin()" class="link-text">Entrar</a>
  </ng-template>
</mat-toolbar>
